<div class="h-full flex flex-col" [class.light-theme]="(currentTheme$ | async) === appThemes.light"
    [class.dark-theme]="(currentTheme$ | async)  === appThemes.dark">
    <div class="h-full flex flex-col accentColorBG">
        <app-curr-converter-navbar (setTheme)="setTheme($event)" [currencies]="navbarCurrencies">
        </app-curr-converter-navbar>
        <main class="grow custom-background">
            <router-outlet></router-outlet>
        </main>
        <app-curr-converter-footbar class=""></app-curr-converter-footbar>
    </div>
</div>