<div class="mb-3 md:flex md:flex-col">
    <section class="md:self-center ">
        <h1 class="text-center pt-12 pb-8 text-2xl"> {{cardHeader}}</h1>

        <!-- let's assume we don't want to make another component for our ui
        and handle outputs -->
        <mat-card class="flex justify-center flex-wrap">
            <form [formGroup]="currencyForm" class="md:flex md:flex-col">
                <div class="mx-1 currency-group self-center">
                    <div class="">
                        <mat-form-field appearance="fill">
                            <mat-label>Amount From</mat-label>
                            <input type="number" matInput #input maxlength="20" placeholder="" value="1"
                                formControlName="input">
                        </mat-form-field>
                    </div>
                    <div class="">
                        <mat-form-field appearance="fill">
                            <mat-label>Currency</mat-label>
                            <mat-select formControlName="inputOption" >

                                <mat-option value="UAH">UAH</mat-option>
                                <mat-option value="USD">USD</mat-option>
                                <mat-option value="EUR">EUR</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="mx-1 currency-group self-center">
                    <div>
                        <mat-form-field class="" appearance="fill">
                            <mat-label>Amount To</mat-label>
                            <input matInput #input maxlength="20" placeholder="" formControlName="output">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Currency</mat-label>
                            <mat-select formControlName="outputOption">
                                <mat-option value="UAH">UAH</mat-option>
                                <mat-option value="USD">USD</mat-option>
                                <mat-option value="EUR">EUR</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </mat-card>
    </section>
</div>